.form-signin-wrapper {
	width: 100%;
	max-width: 400px;
	margin: auto;
	margin-top: 150px;
}

.home-page {
	background-color: #f6f6f6;
}

.home-page-wrapper {
	min-height: 100vh;
	width: 85vw;
	max-width: 1900px;
	margin: 0rem auto;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 90px;
}
.navbar-menu-container {
	display: none;
}
.navbar-links-container a {
	margin-right: 3rem;
	text-decoration: none;
	color: black;
	font-size: 1.1rem;
	font-weight: 600;
}
.primary-button {
	padding: 0.9rem 1.75rem;
	background-color: white;
	outline: none;
	border: none;
	border-radius: 5rem;
	font-size: 1.1rem;
	cursor: pointer;
	font-weight: 600;
	transition: 0.2s;
}
.navbar-cart-icon {
	font-size: 1.15rem;
}
.primary-button:hover {
	background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
	font-size: 1.5rem;
	cursor: pointer;
}

.primary-heading {
	font-size: clamp(2rem, 5vw, 4rem);
	color: #4c4c4c;
}
.primary-text {
	font-size: clamp(1rem, 3vw, 1.5rem);
	color: #6a6a6a;
	margin: 1.5rem 0rem;
}
.secondary-button {
	padding: 1rem 2.5rem;
	background-color: #fe9e0d;
	outline: none;
	border: none;
	border-radius: 5rem;
	font-size: 1.1rem;
	cursor: pointer;
	font-weight: 600;
	color: white;
	transition: 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.secondary-button svg {
	margin-left: 0.75rem;
	font-size: 1.5rem;
}
.secondary-button:hover {
	background-color: #e48f0f;
}
.product-section-container {
	margin-top: 120px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.product-background-image-container {
	position: absolute;
	left: -150px;
	z-index: -2;
}
.product-section-image-container {
	flex: 1;
	margin-right: 16px;
	/*order: 1;*/
}
.product-section-image-container img {
	width: 100%;
	max-width: 600px;
}

.product-section-text-container {
	flex: 1;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.primary-subheading {
	font-weight: 700;
	color: #fe9e0d;
	font-size: 1.15rem;
}
.product-buttons-container {
	margin-top: 2rem;
	display: flex;
}
.watch-video-button {
	margin-left: 2rem;
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 5rem;
	font-size: 1.1rem;
	cursor: pointer;
	font-weight: 600;
	color: #484848;
	transition: 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.watch-video-button svg {
	font-size: 3rem;
	margin-right: 1rem;
}

.footer-wrapper {
	display: flex;
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer-logo-container {
	max-width: 110px;
}
.footer-icons {
	margin-top: 2.5rem;
}
.footer-icons svg {
	font-size: 1.5rem;
	margin-right: 1.25rem;
	color: #585858;
}

.footer-section-two {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}
.footer-section-columns {
	display: flex;
	flex-direction: column;
	min-width: 190px;
}
.footer-section-columns span {
	margin: 0.25rem 0rem;
	font-weight: 600;
	color: #4c4c4c;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.navbar-links-container a {
		margin-right: 1rem;
		font-size: 1rem;
	}
	.primary-button {
		font-size: 1rem;
	}
	.home-bannerImage-container {
		max-width: 600px;
	}
}
@media (max-width: 800px) {
	.nav-logo-container {
		max-width: 140px;
	}
	.navbar-links-container {
		display: none;
	}
	.navbar-menu-container {
		display: flex;
	}
	.home-bannerImage-container {
		max-width: 450px;
	}
	.product-section-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.product-section-image-container {
		width: 100%;
		max-width: 400px;
		margin-right: 0;
		/*order: 0;*/
	}
	.primary-heading {
		text-align: center;
		max-width: 90%;
	}
	.primary-text {
		text-align: center;
		max-width: 80%;
	}
	.product-section-text-container {
		justify-content: center;
		align-items: center;
		margin-top: 4rem;
	}
	.secondary-button {
		font-size: 1rem;
		padding: 0.8rem 2rem;
		cursor: pointer;
	}
	.product-buttons-container {
		justify-content: center;
		flex-direction: column;
	}
	.primary-subheading {
		text-align: center;
	}
	.watch-video-button {
		margin-left: 0rem !important;
		margin-top: 1rem;
		font-size: 1rem !important;
	}
	.watch-video-button svg {
		margin-right: 0.5rem !important;
	}
	.footer-wrapper {
		flex-direction: column;
	}
	.footer-section-two {
		flex-direction: column;
		margin-top: 2rem;
	}
	.footer-section-columns {
		margin: 1rem 0rem;
	}
	.home-page-wrapper {
		max-width: 95vw;
	}
}
